<header class="site-header">
    <div class="header-inner">
        <a href="/gramatas" class="brand">Grāmatu veikals</a>
        <nav class="main-nav">
            <a href="/gramatas" class="nav-link">Grāmatas</a>
            <a href="/kategorijas" class="nav-link">Kategorijas</a>
            <a href="/klienti" class="nav-link">Klienti</a>
            <a href="/pasutijumi" class="nav-link">Pasūtījumi</a>
            <a href="/rediget_klientu" class="nav-link">Rediģēt klientu</a>
            <div class="nav-dropdown">
                <button type="button" class="dropdown-toggle">Pievienot</button>
                <div class="dropdown-menu">
                    <a href="/pievienot_gramatu">Grāmatu</a>
                    <a href="/pievienot_klientu">Klientu</a>
                    <a href="/pievienot_kategoriju">Kategoriju</a>
                    <a href="/pievienot_autoru">Autoru</a>
                    <a href="/pievienot_pasutijumu">Pasūtījumu</a>
                </div>
            </div>
            <div class="nav-dropdown">
                <button type="button" class="dropdown-toggle">Dzēst</button>
                <div class="dropdown-menu">
                    <a href="/dzest_gramatu">Grāmatu</a>
                    <a href="/dzest_klientu">Klientu</a>
                    <a href="/dzest_autoru">Autoru</a>
                    <a href="/dzest_kategoriju">Kategoriju</a>
                </div>
            </div>
        </nav>
    </div>
</header>
